<mat-card class="card-adjust home mat-elevantion-z4">
  <mat-card-title class="title ">Bienvenido a Super Copo!
  </mat-card-title>
  <!--   <img class="v-middle" mat-card-lg-image
          src="assets/img/coracao.svg"> -->
  <mat-card-subtitle class="subtitle">Bienvenidos a nuestra página! Estamos inmensamente felices por su presencia aquí.
    Para explorar nuestros productos, simplemente haga clic en la pestaña "Productos" en el menú lateral.
    Allí encontrarás una amplia gama de opciones para que sea más fácil visualizar y descubrir todo lo que tenemos para
    ofrecerte. Aprovecha al máximo tu visita y no dudes en contactarnos si necesitas ayuda.
    Estamos disponibles para ayudarte!</mat-card-subtitle>

    <div class="divisor"></div>

    <mat-card-title class="title ">Welcome to Super Copo!</mat-card-title>

    <mat-card-subtitle class="subtitle">Welcome to our page! We are immensely happy for your presence here. 
      To explore our products, simply click on the "Product" tab in the side menu. 
      There, you will find a wide range of options to make it easier to view and discover everything we have to offer. 
      Make the most of your visit and don't hesitate to contact us if you require any assistance. 
      We are available to help you!</mat-card-subtitle>

  <div class=" grid flex justify-content-center">

    <img src="assets/images/Logo - original.png" alt="" width="100">
    <div class="flex justify-content-center">
      <p-carousel styleClass="custom-carousel" [value]="images" [numVisible]="3" [numScroll]="3" [circular]="true"
        [responsiveOptions]="responsiveOptions" [autoplayInterval]="5000">
        <ng-template pTemplate="header">
        </ng-template>
        <ng-template let-image pTemplate="item">
          <img [src]="'assets/images/' + image" alt="Slide {{image}}">
        </ng-template>
      </p-carousel>

    </div>
  </div>
</mat-card>

<!-- <div class="card-adjust">
<p-dataView #dv [value]="catalogos">
<ng-template let-catalogo pTemplate="listItem">
  <div class="col-12">
    <div class="catalogo-item flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
        <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" src="assets/images/_0000_VERMELHO-LEITOSO.png"  alt="" width="100">
        <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
              <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                  <div class="text-2xl font-bold text-900">{{ catalogo.nome }}</div>
                  <div class="flex align-items-center gap-3">
                      <span class="flex align-items-center gap-2">
                          <i class="pi pi-tag"></i>
                          <span class="font-semibold">{{ catalogo.preco }}</span>
                      </span>
                  </div>
              </div>
              <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                  <span class="text-2xl font-semibold">{{ catalogo.atacado }}</span>
                  <ng-container *ngIf="isExternalLink(catalogo.link); else internalLink">
                    <a [href]="catalogo.link" target="_blank">
                      <p-button icon="pi pi-user" [rounded]="true" severity="info"></p-button>
                    </a>
                  </ng-container>
                  <ng-template #internalLink>
                    <a [routerLink]="catalogo.link">
                      <p-button icon="pi pi-user" [rounded]="true" severity="info"></p-button>
                    </a>
                  </ng-template>
              </div>
          </div>
      </div>
  </div>
</ng-template>
</p-dataView>
</div> -->