<main>

  <!--  <mat-card class="card">
       <div class="grid flex flex-wrap justify-content-center">

           <div class="col-12 md:col-6 lg:col-3">
               <h2>TAMPAS E ACESSÓRIOS</h2>
               <a
                   href="https://drive.google.com/file/d/1kOmaabvJdG8xFMzAFE7-Lrh5H_vnZNSf/view?usp=sharing"
                   target="_blank" >
                   <img src="assets/img/TAMPAS E ACESSORIOS.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>ACQUA BIO</h2>
               <a
                   href="https://drive.google.com/file/d/10bnoBmGJov7KH3UHRcNY7YLxFf2tFIPe/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/acqua bio.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>BRASILEIRINHO E BRASILEIRÃO</h2>
               <a
                   href="https://drive.google.com/file/d/10f1bJKe3CrOQfrzLdqqGZYo3edJMFrUY/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/BRASILEIRO.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>BALDE POPCORN</h2>
               <a
                   href="https://drive.google.com/file/d/10bsH_8AndJ5E8ZhuKSsWSX3DLwdevM8V/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/BALDE PIPOCA.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>BALDE PREMIUM 7,5L</h2>
               <a
                   href="https://drive.google.com/file/d/10di5hLSQUjVG0zWOM7W3LFB3Tj6-UTaH/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/BALDE PREMIUM.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>BALDE 5 LITROS</h2>
               <a
                   href="https://drive.google.com/file/d/10eMib8RxhciK2hgMdjEdXmKvugWQKxhK/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/BALDE 5L.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>CALDERETA E CALDERETA 500 PAREDE DUPLA</h2>
               <a
                   href="https://drive.google.com/file/d/10fVkYJ3gSBOF46-eAA90VBUZvzdMZZAw/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/CALDERETAS.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>CANECA 300 E CANECA 500</h2>
               <a
                   href="https://drive.google.com/file/d/10geHzp9xjZ-PIF5YY7oc9c4mT9ejuCMn/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/CANECA 300 E 500.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>CANECA SLIM</h2>
               <a
                   href="https://drive.google.com/file/d/10hxFz9IqDB9Ft_V2ElC4Tvf0CQoW250Q/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/CANECA SLIM.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>ROCKET BLENDER</h2>
               <a
                   href="https://drive.google.com/file/d/10k-9NU0ZaT8lg6QFCC6iax-tG6j1PI-z/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/ROCKET BLENDER.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>DRAFT</h2>
               <a
                   href="https://drive.google.com/file/d/10koWGS7zHd3Ed1Lq41rBYZqCV1rXNyM_/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/DRAFT.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>TAÇA GIN</h2>
               <a
                   href="https://drive.google.com/file/d/10lA0xvT-lOiTO_d3yA_RE3JzBmE3K7oT/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/HAPPY GIN.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>LINHA ECO</h2>
               <a
                   href="https://drive.google.com/file/d/10nZvb4R5EkB4jig07tA61XLPUg6pJv_-/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/linha eco.png" alt="imagem"
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>LONG</h2>
               <a
                   href="https://drive.google.com/file/d/10rsxqhAAIWajDTcScS7gFaJc2O70Isdi/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/LONG DRINK.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>MINI TWISTER - TWISTER LIGHT - TWISTER PREMIUM - MEGA TWISTER</h2>
               <a
                   href="https://drive.google.com/file/d/10u8aaiKKjgg351x3XBHKhIaa6ylc9AI2/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/TWISTER.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>MOSCOW MULE</h2>
               <a
                   href="https://drive.google.com/file/d/10wYJNaAm9we72zcabLNDYfAC7lHWlu66/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/MOSCOW MULE.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>PIXEL</h2>
               <a
                   href="https://drive.google.com/file/d/10y8zBGC3kzGLjBfC6jRtzA2moJnagwHP/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/PIXEL.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>SHOT</h2>
               <a
                   href="https://drive.google.com/file/d/110hfwxEavHtEdEeEilh18u55P9MWyHpG/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/SHOT.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>SPACE</h2>
               <a
                   href="https://drive.google.com/file/d/111ZW9G5kXgCIi5Ro52zbwZIowoH-qfaQ/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/SPACE.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>TACA CHANDON</h2>
               <a
                   href="https://drive.google.com/file/d/113Htf7AmbpPxLKsUTBgwTAXVF1uLfONg/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/TAÇA CHANDON.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>TACA LIGHT</h2>
               <a
                   href="https://drive.google.com/file/d/115jvSe7vOdGp7DrrKAeBESv6W-pahMUN/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/TAÇA LIGHT.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>TACA VINHO - VINHO HAPPY</h2>
               <a
                   href="https://drive.google.com/file/d/1160M424HASdNOe1OXJvV588XgJBQyH-g/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/TAÇA VINHO.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>TULIPA</h2>
               <a
                   href="https://drive.google.com/file/d/118Q0omTtC8QAHIppHcjdQHls_ryzZKNR/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/TULIPA.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>WHISKY</h2>
               <a
                   href="https://drive.google.com/file/d/11A3Anu3e7m9Q63pv9JwH6-FOALZecyuf/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/WHISKY.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3">
               <h2>PINTURAS ESPECIAIS</h2>
               <a
                   href="https://drive.google.com/file/d/1kKV6UGsSKs0RHPUq9f0ka5INs-PNO5yH/view?usp=sharing"
                   target="_blank">
                   <img src="assets/img/PINTURAS ESPECIAIS.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

           <div class="col-12 md:col-6 lg:col-3 ">
               <h2>INSUMOS</h2>
               <a
                   href="https://drive.google.com/file/d/1BVYp1bBIvqvmd6o5mQmm4awS5td7e9wP/view?usp=share_link"
                   target="_blank">
                   <img src="assets/img/INSUMOS.png" alt
                       class="img max-w-10rem">
                       <h5>SAIBA MAIS</h5>
               </a>

           </div>

       </div>
   </mat-card> -->


   <div class="card-adjust">
       <p-dataView #dv [value]="catalogos">
           <ng-template let-catalogo pTemplate="listItem">
               <div class="col-12">
                   <div class="catalogo-item flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                       <a [href]="catalogo.link" target="_blank">
                       <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                            [src]="'assets/img/' + catalogo.imagem" alt="" width="100">
                            </a>
                       <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                           <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                               <div class="text-2x0 font-bold text-900">{{ catalogo.nome }}</div>
                               <div class="flex align-items-center gap-3">
                                   <span class="flex align-items-center gap-2">
                                       <i class="pi pi-tag"></i>
                                       <span class="font-semibold">{{ catalogo.preco }}</span>
                                   </span>
                               </div>
                           </div>
                           <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                               <span class="text-2xl font-semibold">{{ catalogo.atacado }}</span>
                               <!-- Verifica se o link é externo ou interno -->
                               <ng-container *ngIf="isExternalLink(catalogo.link); else internalLink">
                                   <a [href]="catalogo.link" target="_blank">
                                       <p-button  [rounded]="true" severity="warning">
                                           <i class="fi fi-sr-book-open-cover"></i></p-button>
                                   </a>
                               </ng-container>
                               <ng-template #internalLink>
                                   <a [routerLink]="catalogo.link">
                                       <p-button [rounded]="true" severity="warning">
                                           <i class="fi fi-sr-book-open-cover"></i>
                                       </p-button>
                                   </a>
                               </ng-template>
                           </div>
                       </div>
                   </div>
               </div>
           </ng-template>
       </p-dataView>
   </div>
   


</main>