<div class="grid flex">
  <div class="col-12 md:col-6 lg:col-12">
      <mat-sidenav-container class="container">
          <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
              <mat-nav-list class="sub-list">
                  <a mat-list-item routerLink="">
                      <i class="fi fi-br-house-chimney"></i>
                      <span>Inicio/Home</span>
                  </a>
                  <a mat-list-item routerLink="/catalog">
                      <i class="fi fi-rr-glass"></i>
                      <span>Productos/Products</span>
                  </a>
                  <a mat-list-item routerLink="/cantact">
                      <i class="fi fi-sr-circle-phone-flip"></i>
                      <span>Contacto/Contact</span>
                  </a>
              </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content class="content">
              <router-outlet></router-outlet>
          </mat-sidenav-content>
      </mat-sidenav-container>

  </div>

</div>