<main>

  <mat-card class="card-adjust card">
      <div class="grid flex justify-content-center">
          <div class="col-12 md:col-6 lg:col-3">
            <div class="flex justify-content-center">

              <div class="flex aling-items-center">
                <a
                href="https://api.whatsapp.com/send?phone=5543996320899"
                target="_blank" class="link-whatsapp">
                <span>Santiago Aguilera </span>
                <img src="assets/imagem/astronauta.png" alt
                class="img max-w-10rem">
                <span>+55 43 99632-0899</span>
                          </a>
                        </div>
                      </div>
                      <div class="flex justify-content-center">

                        <div class="flex aling-items-center">

                          <a href="mailto:Export2@supercopo.com.br" class="link-whatsapp">
                            <span>

                              Export2@supercopo.com.br
                            </span>
                          </a>
                        </div>
                      </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3">
            <div class="flex justify-content-center">

              <div class="flex aling-items-center">
                <a
                href="https://api.whatsapp.com/send?phone=5543999144076"
                target="_blank" class="link-whatsapp">
                <span>Livan Isaac </span>
                          <img src="assets/imagem/astronauta.png" alt
                              class="img max-w-10rem">
                              <span>+55 43 9914-4076</span>
                      </a>

                  </div>
              </div>
              <div class="flex justify-content-center">

                <div class="flex aling-items-center">

                  <a href="mailto:Export3@supercopo.com.br" class="link-whatsapp">
                    <span>

                      Export3@supercopo.com.br
                    </span>
                  </a>
                </div>
              </div>
          </div>
<!--             <div class="col-12 md:col-6 lg:col-3">
              <span>Ingrid</span>
              <div class="flex justify-content-center">

                  <div class="flex aling-items-center">
                      <a
                          href="https://wa.me/message/6QFC5KLF5MNKP1"
                          target="_blank">
                          <img src="assets/img/perfil vendedora (1).png" alt
                              class="img max-w-10rem">
                      </a>

                  </div>
              </div>
          </div> -->
<!--           <div class="col-12 md:col-6 lg:col-3">
              <span>Nathalia</span>
              <div class="flex justify-content-center">

                  <div class="flex aling-items-center">
                      <a
                          href="https://wa.me/message/MQCM25ZXQF7WG1"
                          target="_blank">
                          <img src="assets/img/perfil vendedora (1).png" alt
                              class="img max-w-10rem">
                      </a>

                  </div>
              </div>
          </div> -->

      </div>
  </mat-card>
</main>
