<main>

  <mat-card class="card-adjust card">
      <div class="grid flex justify-content-center">
          <div class="col-12 md:col-6 lg:col-3">
              <span>Erika</span>
              <div class="flex justify-content-center">

                  <div class="flex aling-items-center">
                      <a
                          href="https://wa.me/message/6QFC5KLF5MNKP1"
                          target="_blank">
                          <img src="assets/img/perfil vendedora (1).png" alt
                              class="img max-w-10rem">
                      </a>

                  </div>
              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3">
              <span>Daniela</span>
              <div class="flex justify-content-center">

                  <div class="flex aling-items-center">
                      <a
                          href="https://wa.me/message/VQK5DRBW2LO6D1"
                          target="_blank">
                          <img src="assets/img/perfil vendedora (1).png" alt
                              class="img max-w-10rem">
                      </a>

                  </div>
              </div>
          </div>
<!--             <div class="col-12 md:col-6 lg:col-3">
              <span>Ingrid</span>
              <div class="flex justify-content-center">

                  <div class="flex aling-items-center">
                      <a
                          href="https://wa.me/message/6QFC5KLF5MNKP1"
                          target="_blank">
                          <img src="assets/img/perfil vendedora (1).png" alt
                              class="img max-w-10rem">
                      </a>

                  </div>
              </div>
          </div> -->
          <div class="col-12 md:col-6 lg:col-3">
              <span>Nathalia</span>
              <div class="flex justify-content-center">

                  <div class="flex aling-items-center">
                      <a
                          href="https://wa.me/message/MQCM25ZXQF7WG1"
                          target="_blank">
                          <img src="assets/img/perfil vendedora (1).png" alt
                              class="img max-w-10rem">
                      </a>

                  </div>
              </div>
          </div>

      </div>
  </mat-card>
</main>